.sticky {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #ffc;
  box-shadow: 5px 5px 7px rgba(0,0,0,.5);

  &--draggable {
    transition: transform .2s ease-in-out;

    &:hover {
      background: #ffff99;
      cursor: pointer;
      transform: scale(1.1);
      box-shadow:10px 10px 7px rgba(0,0,0,.7);
      z-index: 9999
    }
  }

  &--is-dragged {
    background: #ffff99;
    cursor: pointer;
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    z-index: 9999
  }
}
